@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #002029;
  --clr-2: #00303d;
  --clr-3: #004052;
  --clr-4: #005066;
  --clr-5: #cc803a;

  --gap: 3rem;
}

html {
  font-size: var(--resetRem);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  background: var(--bgColor);
}

.container {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  color: var(--default);
  text-decoration: none;
  transition: color 500ms ease;
  &:hover {
    color: var(--lightning);
  }
}

.btn-primary {
  background: rgb(26, 26, 26);
  border: 0.2rem solid rgb(154, 154, 154, 0.2);
  padding: 2rem 4rem;
  color: var(--default);
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 500ms ease;
  &:hover {
    transform: scale(1.02);
  }
}

.gradient-text {
  @include gradient-text;
}

.text-center {
  text-align: center;
}

.border-bottom {
  border-bottom: 1px solid rgb(154, 154, 154, 0.1);
}

.grid {
  display: grid;
}

.columns-200 {
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
