@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gradient-text {
  background: var(--gradientBG);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
