@media (min-width: 76.8rem) {
  ul.nav-desktop {
    display: flex !important;
  }

  ul.nav-mobile {
    display: none !important;
  }
}

@media (max-width: 76.8rem) {
  ul.nav-desktop {
    display: none !important;
  }

  ul.nav-mobile {
    display: flex !important;
  }

  .proficiency .cards {
    padding: 0 1rem !important;
  }

  .cards-portfolio {
    padding: 0 1rem !important;
  }
}
