@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#2e2e2e] text-lightning font-JetBrains transition-all m-0 p-0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono";
  }

  a:hover {
    cursor: pointer;
  }

  button {
    border: 1px solid #eee;
  }

  .text-sunshine {
    color: yellow;
  }

  .about-section {
    background: #2c2a2d;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2c2a2d #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 10px;
    border: 1px solid #0f0f0f;
  }
}

/* LIGHTNING SECTION */

body.lightning {
  background: #eee;
  color: rgb(33, 33, 33) !important;
  font-family: "JetBrains Mono";
  transition: 0.5s all ease;
}

body.lightning button {
  border: 1px solid #222;
}

body.lightning .mailing {
  stroke: #2e2e2e !important;
}

body.lightning .instagram {
  fill: #2e2e2e !important;
}

body.lightning .about-section {
  background: rgb(213, 213, 213);
}

body.lightning .text-sunshine {
  color: #2e2e2e;
}
